* {
    margin: 0;
    padding: 0;
}

#UI {
    position: fixed;
    left: 5px;
    top: 50vh;
    transform: translate(50%, -50%);
    transition: 0.2; /* https://cloudfour.com/thinks/transitioning-hidden-elements/ */
    background: rgba(190, 190, 190, 0.4);
    padding: 10px;
    border-radius: 8px;
}

.colorElement{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid black;
}

.activeColorElement {
    border: 5px solid black;
}
